/* App.css */
.App {
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #323c46;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.chat-window {
  flex-grow: 1;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  overflow-y: auto;
}

.message-list {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.message {
  max-width: 60%;
  margin-bottom: 12px;
  padding: 10px;
  border-radius: 20px;
}

.message.bot {
  align-self: flex-start;
  background-color: #e6e6e6;
}

.message.user {
  align-self: flex-end;
  background-color: #0b93f6;
  color: white;
}

.user-input {
  display: flex;
  padding: 10px;
}

.user-input input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  margin-right: 10px;
}

.user-input button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #0b93f6;
  color: white;
  cursor: pointer;
}

.user-input button:hover {
  background-color: #0a7ac6;
}

/* Scrollbar Styles */
.chat-window::-webkit-scrollbar {
  width: 5px;
}

.chat-window::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.chat-window::-webkit-scrollbar-thumb {
  background: #888;
}

.chat-window::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.login-button {
  position: absolute; /* Ou 'fixed' si vous voulez que le bouton reste en haut lors du défilement */
  right: 20px; /* Ajustez la valeur pour déplacer le bouton vers la droite */
  top: 20px; /* Ajustez la valeur pour déplacer le bouton vers le haut */
  z-index: 1000; /* Assurez-vous que le bouton est au-dessus des autres éléments */
}

/* Media queries for responsive layout */
@media (max-width: 768px) {
  .message-list {
    padding: 5px;
  }

  .message {
    max-width: 75%;
  }

  .user-input input[type="text"] {
    padding: 8px;
  }

  .user-input button {
    padding: 8px 16px;
  }
}
